* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ECECEC;
  background-color: #050505;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}